.container2{
    width: 100%;
}
.container2 .all{
    float: left;
    margin-left: 10%;
    margin-top: 5%;
}
.all h3{
    color: #292E3D;
    font-size: 30px;
    font-weight: bold;
}
 li{
    list-style: none;
    font-size: 15px;
    font-weight: bold;
    padding:5px;
    color: #C2C7D6;
}
 
.container2 .pics{
    float: right;
    margin-left: 40%;
    margin-top: -110px;
}
.pics img{
    width: 35%;
    padding: 20px;
}
.pics .nav{
    width: 74%;
}